* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    border: 3px solid black;
    border-radius: 10px;
    margin: 50px auto 0 auto;
    background-color: white;
    width: 330px;
    padding: 20px 20px 35px 20px;
}

input {
    width: 100%;
    max-width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
}

input::placeholder {
    color: #999;
    font-size: 12px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
}

.hr {
    border: 0;
    border-top: 3px solid black;
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

#submit-btn {
    margin: 0 auto;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 10px;
    height: 35px;
}
